@model ResultProductImageDto


<div class="col-md-6 col-lg-7 p-b-30">
	<div class="p-l-25 p-r-30 p-lr-0-lg">
		<div class="wrap-slick3 flex-sb flex-w">
			<div class="wrap-slick3-dots"></div>
			<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

			<div class="slick3 gallery-lb">

				<div class="item-slick3" data-thumb="@Model.Image1">
					<div class="wrap-pic-w pos-relative">
						<img src="@Model.Image1" alt="@Model.Image1">

						<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Model.Image1">
							<i class="fa fa-expand"></i>
						</a>
					</div>
				</div>

				<div class="item-slick3" data-thumb="@Model.Image2">
					<div class="wrap-pic-w pos-relative">
						<img src="@Model.Image2" alt="@Model.Image2">

						<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Model.Image2">
							<i class="fa fa-expand"></i>
						</a>
					</div>
				</div>

				<div class="item-slick3" data-thumb="@Model.Image3">
					<div class="wrap-pic-w pos-relative">
						<img src="@Model.Image3" alt="@Model.Image3">

						<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@Model.Image3">
							<i class="fa fa-expand"></i>
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>